@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
  /* font-family: 'Chicle', serif; */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

body {
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./images/bg.jpeg');

}


.container {
  margin: auto;
  background-color: white;
}
